class - OOPS --- object oriented programming technology

In [13]:
class Student:
    #initialization/constructor      # self  --->instance/object name
    def __init__(self,rollno,name):
        self.rollno=rollno
        self.name=name
        
    def display(self): # user difined function
        print("student rollno=",self.rollno," and name =",self.name)

In [14]:
# creating instance/object

obj1=Student (201,"john") # this line will automatically involve the initialization constructor
obj1.display() # user difined function is called explicitly

student rollno= 201  and name = john

In [15]:
stud1=Student(202,"andrew") # this line will automatically involke the initialization constructor

In [16]:
stud1.display()

student rollno= 202  and name = andrew

In [17]:
stud2=Student(203,"tom") # this line will automatically involke the initialization constructor
stud2.display()

student rollno= 203  and name = tom

In [19]:
stud3=Student(204," maria ") # this line will automatically involke the initialization constructor
stud3.display()

student rollno= 204  and name =  maria

In [28]:

stud1.rollno

202

In [30]:
stud1.name

'andrew'

In [31]:
stud2.name

'tom'

In [39]:
class employee:
    revenue=30000 # class veriable
    def __init__(self,empno,name,sal,revenue):
        self.empno=empno # instance variable
        self.name=name
        self.sal=sal
        self.revenue=revenue
    def display(self):
        print(self.empno," ",self.name," ",self.sal,self.revenue )

In [27]:
emp1=employee(40029462,"bhupendra",40000)
emp1.display()

emp2=employee(40029464,"nikunj",30000)
emp2.display()

emp3=employee(40029461,"mobin",25000)
emp3.display()

40029462   bhupendra   40000
40029464   nikunj   30000
40029461   mobin   25000

In [32]:
emp1.sal

40000

In [33]:
emp2.sal

30000

In [34]:
emp2.name

'nikunj'

In [37]:
employee.revenue

30000

In [41]:
emp.revenue

NameError: name 'emp' is not defined

In [47]:
class person:
    #consructor/initialization automaticaly called
    def __init__(self,id,name):
        self.id=id
        self.name=name
        
    def display(self):
        print("id =",self.id,"name is ",self.name)

#instance object        
p1=person(101,"andrew")
p1.display()

p2=person(102,"john")
p2.display()

id = 101 name is  andrew
id = 102 name is  john

In [48]:
class student:
    #class veriable
    fees=8000
    
    def __init__(self,name,grade):
        self.name=name
        self.grade=grade
        
    def display(self):
        print("name:",self.name,"grade:",self.grade)

In [50]:
s1=student("sakshi",3)
s1.display()

name: sakshi grade: 3

In [52]:
class student:
    
    def __init__(self,name,grade):
        self.name=name
        self.grade=grade

In [58]:
class car:
    #a simple class for cars
    
    #contrucrtor to initialize
    def __init__(self,company,color):
        self.company=company
        self.color=color
        
        
   #function to print car company and color
    def  display(self):
        print("this is a",self.color,self.company)

In [59]:
def main():
    c=car("ferari","red")
    c.display()

In [60]:
if __name__=="__main__":
    main()

this is a red ferari

In [6]:
class employee:
    
    def __init__(self,name,age):
        print("intialized method called")
        self.name=name
        self.age=age
        
        

    def getdata(self,name,age):
        print("getdata method called")
        self.name=name
        self.age=age
        
    def displaydata(self):
        print("hello",self.name,self.age)

In [7]:
def main():
    e=employee("william",35) # here  intialize will work
    e.displaydata()
    
    e.getdata("john",25)
    e.displaydata()

In [8]:
if __name__=="__main__":
    main()

intialized method called
hello william 35
getdata method called
hello john 25

# create a player class with name,age,sports associated with the player.

In [19]:
class player:
    
    
    def __init__(self,name,age,sport):
        print("initialized data for players")
        self.name=name
        self.age=age
        self.sport=sport
        
    def getdata(self,name,age,sport):
        print("Getting data for players")
        self.name=name
        self.age=age
        self.sport=sport
        
    def displaydata(self):
        print("player details :",self.name,self.age,self.sport)
        
def main():
    p1=player("virat",35,"criket")
    p1.displaydata()
            
    p1=getdata("richard",45,"tennis")
    p1.displaydata()
            
    p2=player("doni",25,"criket")
    p2.displaydata()
    
       
    p2=getdata("vivan",65,"criket")
    p2.displaydata()

In [21]:
if __name__=="__main__":
    main()

initialized data for players
player details : virat 35 criket

NameError: name 'getdata' is not defined